@page "/ciudades/crear"
@using Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Siberian.Demo.Shared
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager NavigationManager

<h3>Crear</h3>

<EditForm Model="@ciudad" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText id="name" @bind-Value="ciudad.NombreCiudad" />

	<button type="submit">Crear</button>
</EditForm>

@code {
	private CityDto ciudad = new();

	private async Task HandleValidSubmit()
	{
		await http.PostAsJsonAsync("api/ciudades", new Ciudad
		{
			FechaCreacion = DateTime.Now,
			NombreCiudad = ciudad.NombreCiudad
		});

		NavigationManager.NavigateTo("/ciudades");
	}
}
